{%extends "base.html"%}
{% block title %}home{% endblock %}
{% block content %}
<header class="header">
    <div class="welcome">
        <div id="welcome-message"><h1>Welcome To WebGames  </h1>
            <p>
                Here you can have fun playing simple games alone or with a friend
            </p>


        </div>
        <img width="400" height="auto" alt="" src="static/imgs/gaming4.png">
    </div>

</header>
<div class="choices">
   <div class="page_choice">
        <img width="auto" height="90" alt="" src="static/imgs/one.png">
       <a href="\oneplayer">single player</a></div>
    <div class="page_choice">
        <img width="auto" height="90" alt="" src="static/imgs/group.png">
        <a href="\twoplayers">multiplayer</a></div>
    <div class="page_choice">
        <img width="auto" height="90" alt="" src="static/imgs/soon.png">
        <a href="\soon">coming soon</a></div>
<div class="auth_buttons">
    <p>you have to login in order to play</p>

    <button class="form_button" ><a href="/login">LOGIN</a></button>

    <button class="form_button" ><a href="/sign_up">SIGNUP</a></button>

</div>

</div>

 <footer>
        <div>
            <h4>get in touch</h4>
            <p>call us on +11 743-373-3443 or email us at randomaccount@gmail.com</p>
        </div>

        <div>
            <h4>Social media links</h4>
            <a href="instagram.com"> <img width=50" src="static/imgs/instagram.png" alt="instagram"> </a>
            <a href="facebook.com"> <img width=50"  src="static/imgs/facebook.png" alt="facebook"> </a>
            <a href="twitter.com"> <img width=50"  src="static/imgs/twitter.png" alt="twitter"> </a>
             <a href="/login"> <img width=40"  src="static/imgs/chrome.png" alt="chrome"> </a>


        </div>



    </footer>





{% endblock %}