{%extends "base.html"%}
{% block title%}Matching Game{%endblock%}
{% block css_link%}<link rel="stylesheet" href="static/css/matching.css"> {%endblock%}

{%block content %}

<header class="game_header">
        <h1>Find The matching icon</h1>
</header>
<div class="matching_body">
         <div class="flips">flips: <span id="flips_nb">0</span></div>
         <div  class="found">matched : <span id="found_nb">0</span> /12</div>

         <div id="grid" ></div>



   <div><p class="action_message">click two cards to match</p>

</div>
     </div>


</div>






{% endblock %}
{%block js_link %} <script type="text/javascript" src="../static/js/matching.js"></script> {%endblock%}