{%extends "base.html"%}
{% block title %}Rook Paper Scissors{% endblock %}
{% block content %}
<header class="rps_header">
        <h1>Rock Paper Scissors</h1>
    </header>
<div class="rps_body">

    <div class="score_board">
        <div class="badge" id="user_badge">user</div>
        <div class="badge" id="computer_badge">comp</div>
        <span id="user_score">0</span>:<span id="computer_score">0</span>
    </div>

    <div class="result">
        <p>Lest play</p>
    </div>

    <div class="rps_choices">
        <div class="rps_choice" id="r">
            <img src="../static/imgs/rock.png">

        </div>
        <div class="rps_choice" id="p">
              <img src="../static/imgs/paper.png">

        </div>
        <div class="rps_choice" id="s">
              <img src="../static/imgs/scissors.png">

        </div>

    </div>

    <p id="action_message">make a move</p>

</div>



{% endblock %}