{%extends "base.html"%}
{% block title %}Rook Paper Scissors{% endblock %}
{% block css_link %}<link   rel="stylesheet" href="static/css/RPS.css" >{% endblock %}
{% block content %}
<header class="game_header">
        <h1>Rock Paper Scissors</h1>
</header>
<div class="rps_body">

    <div class="score_board">
        <div class="badge" id="user_badge">user</div>
        <div class="badge" id="computer_badge">comp</div>
        <span id="user_score">0</span>:<span id="computer_score">0</span>
    </div>
    <div class="computer_choice">
        <p></p>
    </div>
    <div class="result">
        <p>Lets play</p>
    </div>

    <div class="rps_choices">
        <div class="rps_choice" id="r">
            <img class="rps_img" src="../static/imgs/rock.png">

        </div>
        <div class="rps_choice" id="p">
              <img class="rps_img" src="../static/imgs/paper.png">

        </div>
        <div class="rps_choice" id="s">
              <img class="rps_img" src="../static/imgs/scissors.png">

        </div>

    </div>

    <p id="action_message">make a move</p>

</div>



{% endblock %}

{%block js_link %} <script type="text/javascript" src="../static/js/RPS.js"></script> {%endblock%}